body{
    font-family: Helvetica;
}

#container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: blue;
}

button:active{
    background-color: rgb(27, 227, 60);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

#diceResult {
    padding: 20px;
}